@import url("https://fonts.googleapis.com/css2?family=Michroma&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

:root {
  --primaryColor: #75597d;
  --primaryColorLight: #b0b8b4;
  --bgColor: hsl(0, 0%, 100%);
  --formColor: hsl(14, 42%, 87%);
  --whiteColor: hsl(0, 0%, 100%);
  --blackColor: hsl(0, 0%, 18%);
  --greyText: hsl(0, 0%, 51%);
  --inputColor: hsl(330, 12%, 94%);
  --cardColor: hsl(300, 3%, 94%);
  /*Font and Typography*/
  --biggestFontSize: 2.5rem;
  --h1FontSize: 1.6rem;
  --h2FontSize: 1.25rem;
  --h3FontSize: 1rem;
  --normalFontSize: 0.938rem;
  --smallFontSize: 0.813rem;
  --smallestFontSize: 0.75rem;
  --borderRadius: 3rem;
}

.portfolio .secContainerport {
  gap: 2rem;
}
.portfolio .secContainerport .leftContent .grid .singlePortfolio {
  gap: 1rem;
  align-items: flex-start;
}
.portfolio .secContainerport .leftContent .grid .singlePortfolio .iconDiv img {
  height: 50px;
  width: 50px;
}
.portfolio .secContainerport .leftContent .grid .singlePortfolio .infor h4 {
  padding-bottom: 0.5rem;
}
.portfolio .secContainerport .rightContent .imgRight {
  align-content: center;
  overflow: hidden;
}
.portfolio .secContainerport .rightContent .imgRight img {
  max-width: 80%;
}
.portfolio .secContainerport .rightContent .imgRight img:hover {
  cursor: pointer;
}
.portfolio .secContainerport .rightContent .imgRight:hover {
  scale: 1.01;
}

@media screen and (max-width: 480px) {
  .portfolio .secContainerport .rightContent {
    height: 50%;
    width: 120%;
  }
  .portfolio .secContainerport .rightContent .imgRight {
    padding-left: 2.5rem;
  }
  .portfolio .secContainerport .rightContent .imgRight img {
    border-radius: 10%;
    margin: auto;
    width: 70%;
  }
}
@media screen and (min-width: 480px) {
  .portfolio .secContainerport .rightContent {
    margin-top: 10%;
    height: 50%;
    width: 120%;
    padding-left: 5.5rem;
  }
  .portfolio .secContainerport .rightContent img {
    border-radius: 10%;
    margin: auto;
    width: 70%;
    scale: 1;
  }
  .portfolio .secContainerport .leftContent .secHeading h3 {
    font-size: var(--h2FontSize);
  }
  .portfolio .secContainerport .leftContent .secHeading p {
    font-size: var(--normalFontSize);
    padding: 0.5rem 0;
  }
  .portfolio .secContainerport .leftContent .grid .singlePortfolio {
    gap: 1.5rem;
  }
  .portfolio .secContainerport .leftContent .grid .singlePortfolio .iconDiv img {
    height: 60px;
    width: 60px;
  }
  .portfolio .secContainerport .leftContent .grid .singlePortfolio .infor h4 {
    padding-bottom: 0.5rem;
    font-size: var(--h3FontSize);
  }
  .portfolio .secContainerport .leftContent .grid .singlePortfolio .infor p {
    font-size: var(--normalFontSize);
  }
}
@media screen and (min-width: 660px) {
  .portfolio .secContainerport .leftContent {
    padding-bottom: -10%;
  }
  .portfolio .secContainerport .leftContent .secHeading h3 {
    font-size: 2rem;
  }
  .portfolio .secContainerport .leftContent .secHeading p {
    font-size: var(--h3FontSize);
  }
  .portfolio .secContainerport .leftContent .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio .secContainerport .leftContent .grid .singlePortfolio {
    gap: 1.5rem;
  }
  .portfolio .secContainerport .rightContent {
    margin: auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
  }
  .portfolio .secContainerport .rightContent .imgRight img {
    margin: auto;
    max-width: 100%;
    border-radius: 10%;
    -webkit-mask-image: -webkit-gradient(linear, left top, right bottom, from(rgb(0, 0, 0)), to(rgba(0, 0, 0, 0.1)));
  }
}
@media screen and (min-width: 820px) {
  .portfolio .secContainerport {
    grid-template-columns: repeat(2, 1fr);
  }
  .portfolio .secContainerport .leftContent .secHeading h3 {
    font-size: var(--h2FontSize);
  }
  .portfolio .secContainerport .leftContent .secHeading p {
    font-size: var(--h3FontSize);
  }
  .portfolio .secContainerport .leftContent .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .portfolio .secContainerport .rightContent .imgRight {
    max-width: 100%;
  }
  .portfolio .secContainerport .rightContent .imgRight img {
    max-width: 80%;
    height: 240px;
  }
}
@media screen and (min-width: 1240px) {
  .portfolio .secContainerport {
    gap: 4rem;
  }
  .portfolio .secContainerport .leftContent .secHeading h3 {
    font-size: 2rem;
  }
  .portfolio .secContainerport .leftContent .secHeading p {
    font-size: var(--h3FontSize);
  }
  .portfolio .secContainerport .leftContent .grid {
    gap: 2.5rem;
    margin-top: 1rem;
  }
  .portfolio .secContainerport .leftContent .grid .singlePortfolio {
    gap: 2rem;
  }
  .portfolio .secContainerport .rightContent .imgRight {
    max-width: 100%;
  }
  .portfolio .secContainerport .rightContent .imgRight img {
    max-width: 80%;
    height: 70%;
  }
}
@media screen and (max-width: 957px) {
  .portfolio .secContainerport .rightContent img {
    margin: auto;
    max-width: 80%;
    min-height: 100%;
    border-radius: 10%;
  }
}/*# sourceMappingURL=Portfolio.css.map */